@import './colors';

// font
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
"Liberation Mono", "Courier New", monospace !default;
$code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 14px !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-root: null !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$text-color: #fff !default;
$background-color-base: $grey-1 !default;

$disabled-color: $grey-5 !default;
$disabled-bg: $background-color-base !default;

  // padding
$padding-lg: 24px !default; // containers
$padding-md: 16px !default; // small containers and buttons
$padding-sm: 12px !default; // Form controls and items
$padding-xs: 8px !default; // small items

// border
$border-radius-base: 4px !default;
$border-width-base: 1px !default;
$border-style-base: solid !default;
$border-color-base: $grey-5 !default;

$link-color: $primary-color !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// shadow
$shadow-color: rgba(0, 0, 0, 0.15) !default;
$shadow-color-inverse: #fff !default;
$shadow-1-up: 0 -2px 8px $shadow-color !default;
$shadow-1-down: 0 2px 8px $shadow-color !default;
$shadow-1-left: -2px 0 8px $shadow-color !default;
$shadow-1-right: 2px 0 8px $shadow-color !default;
$shadow-2: 0 4px 12px $shadow-color !default;
$box-shadow-base: $shadow-1-down !default;

// background
$component-base-bg: #fff !default;

// Button component
$btn-height-base: 32px !default;
$btn-height-lg: 40px !default;
$btn-height-sm: 24px !default;

$btn-border-radius: $border-radius-base !default;
$btn-border-width: $border-width-base !default;
$btn-border-style: $border-style-base !default;

$btn-font-size-base: $font-size-base !default;
$btn-font-size-lg: $font-size-lg !default;
$btn-font-size-sm: $font-size-sm !default;
$btn-line-height-base: $line-height-base !default;
$btn-padding-base: 0px $padding-md !default;
$btn-padding-lg: 0px $padding-lg !default;
$btn-padding-sm: 0px $padding-sm !default;

// Button type
$btn-default-color: #000 !default;
$btn-default-bg: $component-base-bg !default;
$btn-default-border-color: $border-color-base !default;

$btn-primary-color: $text-color !default;
$btn-primary-bg: $primary-color !default;
$btn-primary-border-color: $primary-color !default;

$btn-danger-color: $text-color !default;
$btn-danger-bg: $danger-color !default;
$btn-danger-border-color: $danger-color !default;

$btn-warning-color: $text-color !default;
$btn-warning-bg: $warning-color !default;
$btn-warning-border-color: $warning-color !default;

$btn-info-color: $text-color !default;
$btn-info-bg: $info-color !default;
$btn-info-border-color: $info-color !default;

$btn-success-color: $text-color !default;
$btn-success-bg: $success-color !default;
$btn-success-border-color: $success-color !default;

// Button disabled
$btn-disabled-color: $disabled-color !default;
$btn-disabled-bg: $disabled-bg !default;
$btn-disabled-border-color: $border-color-base !default;

// Input Component
$input-line-height-base: $line-height-base !default;

$input-height-base: 32px !default;
$input-height-lg: 40px !default;
$input-height-sm: 24px !default;

$input-border-radius: $border-radius-base !default;
$input-border-style: $border-style-base !default;
$input-border-width: $border-width-base !default;
$input-border-color: $border-color-base !default;

$input-font-size-base: $font-size-base !default;
$input-font-size-lg: $font-size-lg !default;
$input-font-size-sm: $font-size-sm !default;

$input-padding-horizontal: $padding-sm !default;

$input-hover-border-color: $primary-color !default;
$input-focus-border-color: $primary-color !default;
$input-focus-box-shadow: 0 0 2px $input-focus-border-color !default;

$input-disabled-color: $disabled-color !default;
$input-disabled-bg: $disabled-bg !default;
$input-disabled-border-color: $border-color-base !default;

$input-addon-bg: $disabled-bg !default;
$input-clear-icon-color: $grey-5 !default;
$input-clear-icon-hover-color: $grey-7 !default;

// Layout
$grids: 24 !default;
$break-points-arr: ("xs", "sm", "md", "lg", "xl", "xxl") !default;
$break-points: ("sm": 576px, "md": 768px, "lg": 992px, "xl": 1200px, "xxl": 1600px) !default;

// Message
$message-height: 32px !default;
$message-border-width: $border-width-base !default;
$message-border-style: $border-style-base !default;
$message-border-color: $border-color-base !default;
$message-background-base: $component-base-bg !default;
$message-padding-horizontal : $padding-sm !default;
$message-gap: $message-padding-horizontal !default;
$message-line-height-base: $line-height-base !default;
$message-border-radius: $border-radius-base !default;

// Tabs
$tabs-btn-height-base: 40px !default;
$tabs-btn-height-lg: 48px !default;
$tabs-btn-height-sm: 32px !default;

$tabs-btn-vertical-padding-base: $padding-md !default;
$tabs-btn-vertical-padding-lg: $padding-lg !default;
$tabs-btn-vertical-padding-sm: $padding-sm !default;

$tabs-btn-active-color: $primary-color !default;
$tabs-btn-bg: $component-base-bg !default;

$tabs-btn-disabled-color: $disabled-color !default;
$tabs-header-border-width: 2px !default;
$tabs-header-border-style: $border-style-base !default;
$tabs-header-border-color: $grey-3 !default;
$tabs-header-margin-bottom: 16px !default;

$tabs-pane-vertical-padding: $padding-md !default;

// Tooltip
$tooltip-padding: 6px !default;
$tooltip-background: #000 !default;
$tooltip-border-radius: $border-radius-base !default;
$tooltip-arrow-size: 6px !default;;

// collapse
$collapse-padding: $padding-sm !default;
$collapse-header-background: $background-color-base !default;
$collapse-border-width: $border-width-base !default;
$collapse-border-style: $border-style-base !default;
$collapse-border-color: $border-color-base !default;
$collapse-content-background: $component-base-bg !default;

