@import './colors';

// font
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
"Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 14px !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-root: null !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$text-color: #fff !default;
$background-color-base: $grey-1 !default;

$disabled-color: $grey-5 !default;
$disabled-bg: $background-color-base !default;

  // padding
$padding-lg: 24px !default; // containers
$padding-md: 16px !default; // small containers and buttons
$padding-sm: 12px !default; // Form controls and items
$padding-xs: 8px !default; // small items

// border
$border-radius-base: 4px !default;
$border-width-base: 1px !default;
$border-style-base: solid !default;
$border-color-base: $grey-5 !default;

$link-color: $primary-color !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// shadow
$shadow-color: rgba(0, 0, 0, 0.15);
$shadow-color-inverse: #fff;
$shadow-1-up: 0 -2px 8px $shadow-color;
$shadow-1-down: 0 2px 8px $shadow-color;
$shadow-1-left: -2px 0 8px $shadow-color;
$shadow-1-right: 2px 0 8px $shadow-color;
$shadow-2: 0 4px 12px $shadow-color;
$box-shadow-base: $shadow-1-down;

// background
$component-base: #fff;

// Button component
$btn-height-base: 32px;
$btn-height-lg: 40px;
$btn-height-sm: 24px;

$btn-border-radius: $border-radius-base;
$btn-border-width: $border-width-base;
$btn-border-style: $border-style-base;

$btn-font-size-base: $font-size-base;
$btn-font-size-lg: $font-size-lg;
$btn-font-size-sm: $font-size-sm;
$btn-line-height-base: $line-height-base;
$btn-padding-base: 0px $padding-md;
$btn-padding-lg: 0px $padding-lg;
$btn-padding-sm: 0px $padding-sm;

// Button type
$btn-default-color: #000;
$btn-default-bg: $component-base;
$btn-default-border-color: $border-color-base;

$btn-primary-color: $text-color;
$btn-primary-bg: $primary-color;
$btn-primary-border-color: $primary-color;

$btn-danger-color: $text-color;
$btn-danger-bg: $danger-color;
$btn-danger-border-color: $danger-color;

$btn-warning-color: $text-color;
$btn-warning-bg: $warning-color;
$btn-warning-border-color: $warning-color;

$btn-info-color: $text-color;
$btn-info-bg: $info-color;
$btn-info-border-color: $info-color;

$btn-success-color: $text-color;
$btn-success-bg: $success-color;
$btn-success-border-color: $success-color;

// Button disabled
$btn-disabled-color: $disabled-color;
$btn-disabled-bg: $disabled-bg;
$btn-disabled-border-color: $border-color-base;

// Input Component
$input-line-height-base: $line-height-base;

$input-height-base: 32px;
$input-height-lg: 40px;
$input-height-sm: 24px;

$input-border-radius: $border-radius-base;
$input-border-style: $border-style-base;
$input-border-width: $border-width-base;
$input-border-color: $border-color-base;

$input-font-size-base: $font-size-base;
$input-font-size-lg: $font-size-lg;
$input-font-size-sm: $font-size-sm;

$input-padding-horizontal: $padding-sm;

$input-hover-border-color: $primary-color;
$input-focus-border-color: $primary-color;
$input-focus-box-shadow: 0 0 2px $input-focus-border-color;

$input-disabled-color: $disabled-color;
$input-disabled-bg: $disabled-bg;
$input-disabled-border-color: $border-color-base;

$input-addon-bg: $disabled-bg;
$input-clear-icon-color: $grey-5;
$input-clear-icon-hover-color: $grey-7;
